<div id="about_nav">
      <ul class="nav navbar-nav">
        <li {% if page.title == "History" %}class="active"{% endif %}><a style="border-color: rgb(255, 0, 68);" href="{{"/history/" | prepend: site.baseurl }}">HISTORY</a></li>
        <li {% if page.title == "News" %}class="active"{% endif %}><a style="border-color: rgb(16, 0, 255);" href="{{"/news/" | prepend: site.baseurl }}">NEWS</a></li>
        <li {% if page.title == "About" %}class="active"{% endif %}><a style="border-color: rgb(0, 226, 255);" href="{{"/about/" | prepend: site.baseurl }}">ABOUT</a></li>
        <li {% if page.title == "Contact" %}class="active"{% endif %}><a style="border-color: rgb(0, 226, 3);" href="{{"/contact/" | prepend: site.baseurl }}">CONTACT</a></li>
      </ul>
    </div><!--/.nav-collapse -->