<div id="footerwrap">
    <div class="col-xs-4 footerlist">
        <h4>About</h4>
        <div class="hline-w"></div>
        <p>
            <a href="/history/">History</a>
        </p>
        <p>
            <a href="/recipe/">Recipe</a>
        </p>
    </div>


    <div class="col-xs-8">
        <h4>Support me!</h4>
        <div class="hline-w"></div>
        <p>I can make good use of equipment that can help me improve the gatherings. Some examples are recording devices, musical instruments, tools, art and craft materials, etc. <a href="#myModalMsg" role="button" data-toggle="modal">Message me</a></p>
        
    </div>
</div>
