<div id="headerwrap" class="wrap">
    <h3>Lets get together, be creative, and initiate collaborative activities to inspire each other. Promoting events and organizing gatherings with discussions, workshops, missions and jam sessions.</h3>
    <br>
    <p>
        <h5>Entrance is by invitation only, free of charge including food and drinks! What is necessary, is your participation.</h5>
        <a href="{{" /about/ " | prepend: site.baseurl }}" class="btn btn-theme">Read More</a>
    </p>
    <br>
    <p>
        To make this possible we came up with a <a href="/how/#recipe">recipe</a>, taking gatherings to next level with four <a href="/how/#stages">stages</a>.
    </p>
</div>
<!-- /headerwrap -->
