<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="{{site.author}}">
            {% if page.meta == "image" %}
            <meta property="og:type" content="article"/>
    <meta property="og:image" content="{{ "/assets/img/blog/" | prepend: site.url }}{{ page.img }}" />
    <meta property="og:image:secure_url" content="{{ "/assets/img/blog/" | prepend: site.url_s }}{{ page.img }}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="850" />
<meta property="og:image:height" content="400" />
{% endif %}

    <link rel="shortcut icon" href="{{ "/assets/ico/favicon.ico" | prepend: site.baseurl }}">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <script type="text/javascript">
    var host = "inspireathens.github.io";
if ((host == window.location.host) && (window.location.protocol != "http:"))
    window.location.protocol = "http";
</script>

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/ekko-lightbox.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    {% if page.title == "Featured" %}
    <link href="{{ "/assets/css/events.public.css" | prepend: site.baseurl }}" rel="stylesheet">
{% endif %}
    
    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>