<div id="ingredients" class="service">
            <h3>Ingredients<h3>
            <p>Four homemade ingredients create explosive and creative gatherings. Subjects, Projects, Sessions and Participants. Six Subjects for a variety of Projects and Sessions that engage many Participants to host and join. A feast for creative activities!</p>
            <div class="row">
           <div class="r_label col-md-6">
                <i class="fa fa-archive"></i>
                <h4>Subjects</h4>
                <p>With a good selection of subjects, we can also have many interesting projects and sessions. That is why it can be easy for many people to be interested in our activities. Art, Technology, Health, Permaculture, Travel and Communication are what we base these activities on.</p>
            </div>
            <div class="r_label col-md-6">
                <i class="fa fa-file-text"></i>
                <h4>Projects</h4>
                <p>A project is a series of sessions that are good to follow through from day one, continuing its purpose and goals. A project usually starts at the beginning of a season and lasts until the end. You can get involved with a project at any time.</p>
            </div>
            </div>
            <div class="row">
            <div class="r_label col-md-6">
                <i class="fa fa-check-square-o"></i>
                <h4>Sessions</h4>
                <p>A Session is a one time event that can be part of a project or not. A session can be a discussion, a workshop, a mission or a jam-session. The sessions are the building blocks of a gathering, organized by the core group and hosted by any of the participants.</p>
            </div>	
            <div class="r_label col-md-6">
                <i class="fa fa-users"></i>
                <h4>Participants</h4>
                <p>Anyone who is invited to join a gathering, is a participant. That means that as a participant, you are able to host or join sessions. Plan a project and start it with the help of a group. Enjoy healthy food and drinks. All at no cost. Read more here.</p>
            </div>                  
            </div>	 				
</div><! --/service -->
