<!-- Fixed navbar -->
<div id="mainnav" class="mynav">
    <ul>
        <li {% if page.title == "Home" %}class="active"{% endif %}><a style="border-color: rgb(255, 0, 68);" href="{{" / " | prepend: site.baseurl }}">HOME</a>
        </li>
        <li {% if page.title == "News" %}class="active" {% endif %}><a style="border-color: rgb(16, 0, 255);" href="{{" /news/ " | prepend: site.baseurl }}">NEWS</a>
        </li>
        <li {% if page.parent == "About" %}class="active" {% endif %}><a style="border-color: rgb(0, 226, 255);" href="{{" /history/ " | prepend: site.baseurl }}">ABOUT</a>
        </li>
        <li><a style="border-color: rgb(0, 226, 3);" href="#myModalMsg" role="button" data-toggle="modal">MESSAGE</a>
        </li>
    </ul>
</div>
