
          <div id="sch_list" class="list-group">

            <a class="list-group-item active" map="warmup">
              <p>11.00-12.00</p><p class="list-group-item-heading">Warming Up</p>
            </a>

            <a class="list-group-item" map="discussions">
              <p>12.00-13.30</p><p class="list-group-item-heading">Discussions</p>
            </a>

            <a class="list-group-item" map="chill">
              <p>13.30-14.00</p><p class="list-group-item-heading">Chill Out</p>
            </a>

                  <a class="list-group-item" map="workshops">
              <p>14.00-15.30</p><p class="list-group-item-heading">Workshops</p>
            </a>

                  <a class="list-group-item" map="chill">
              <p>15.30-16.00</p><p class="list-group-item-heading">Chill Out</p>
            </a>

                <a class="list-group-item" map="missions1">
              <p>16.00-17.30</p><p class="list-group-item-heading">Missions Part 1</p>
            </a>

                 <a class="list-group-item" map="chill">
              <p>17.30-18.00</p><p class="list-group-item-heading">Chill Out</p>
            </a>

                  <a class="list-group-item" map="missions2">
              <p>18.00-19.30</p><p class="list-group-item-heading">Mission Part 2</p>
            </a>

                 <a class="list-group-item" map="chill">
              <p>19.30-20.00</p><p class="list-group-item-heading">Chill Out</p>
            </a>

                 <a class="list-group-item" map="jam">
              <p>20.00-00.00</p><p class="list-group-item-heading">Jam Session</p>
            </a>

          </div>