<div class="sch_det" id="warmup">
<p>
Before we get into any activities, we may introduce ourselves, get some conversations going. Meanwhile the organizers make sure that the space is prepared with the appropriate setup. 
</p>
<br>
<p>
After warming up the environment and ourselves, we begin the schedule that is divided in four stages:
</p>
<br>
<p>Stage 1, Discussions.</p>
<p>Stage 2, Workshops.</p>
<p>Stage 3, Missions.</p>
<p>Stage 4, Jam-Sessions.</p>
<br>
<p>
Click on any of the schedule's sections on the left for more details
</p>
</div>

<div class="sch_det" id="discussions">
{% include discussions_about.html %}    
</div>

<div class="sch_det" id="chill">
<p>
chilling
</p>
</div>

<div class="sch_det" id="workshops">
{% include workshops_about.html %}
</div>

<div class="sch_det" id="missions1">
{% include missions_about.html %}
</div>

<div class="sch_det" id="missions2">
{% include missions_about.html %}
</div>

<div class="sch_det" id="jam">
{% include jamming_about.html %}
</div>