<div id="stages" class="service">
            <h2>Stages<h2>
            <h5>Four stages to complete in a day, full of magic. The purpose for each stage is to collaborate creatively, turning ideas into realities. You can see the schedule for more information on days, times and other details.</h5>
            <div class="row">
           <div class="r_label col-md-6">
                <i class="fa fa-comments-o"></i>
                <h4>Discussions</h4>
                <p>
{% include discussions_about.html %}
                </p>
            </div>
            <div class="r_label col-md-6">
                <i class="fa fa-gears"></i>
                <h4>Workshops</h4>
                <p>
{% include workshops_about.html %}
                </p>
            </div>
            </div>
            <div class="row">
            <div class="r_label col-md-6">
                <i class="fa fa-flag"></i>
                <h4>Missions</h4>
                <p>
{% include missions_about.html %}
                </p>
            </div>	
            <div class="r_label col-md-6">
                <i class="fa fa-music"></i>
                <h4>Jamming</h4>
                <p>
{% include jamming_about.html %}
                </p>
            </div>                  
    </div><! --/container -->
</div><! --/service -->
