---
layout: default
---

<div class="container" style="margin-top: 70px;">
    <div class="row">

        <div class="col-lg-8">

            <h2>{% if page.wrap_title %}{{ page.wrap_title }}{% else %}{{ page.title }}{% endif %}</h2>
            <h3>{{ page.date | timeago }}<p style="display:inline">  {{ page.date | date: "%-d %B %Y"}}</p></h3>
            <p><img class="photograph img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}"></p>
            <br>
            <h3>Introduction</h3>
            <p>{{ page.introduction }}</p>
            <br>
            <div class="hline"></div>
            <br>
            <h3>What Happened?</h3>
            <p>{% if page.happened %}

            {{ page.happened }}

            {% else %}
            
            Once I capture the experience, I will write something about it and post it here. You can receive updates by subscribing your email <a href="#myModal" role="button" data-toggle="modal">here</a>.

            {% endif %}</p>
<div class="spacing"></div>
            {% include footer.html %}


        </div>

        <div id="sidebar" class="col-lg-4" style="margin-top: 30px;">

            {% include sidebar.html %}

        </div>


    </div>
</div>